<%
var meta = {id: 'travel',title:'会場付近の宿泊・施設',desc:'Scalaをテーマにした、日本最大級のカンファレンス。ScalaMatsuri 2019',url: ''};
// 個別CSS
var css = ['https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css']
// 個別JS
var js = []
%>
<!DOCTYPE html>
<html lang="ja">
<% include ../templates/_meta %>

<body id="<%= meta.id %>">
  <% include ../templates/_header %>
  <div class="main">
    <div class="main_inner">
      <h1 class="main_title">会場付近の宿泊・施設</h1>
    </div>
  </div>
  <div class="section">
    <p class="section_text section_text-strong">ScalaMatsuri は 2019年6月27日(木)、6月28日(金)、6月29日(土)に東京国際交流館にて開催します。このページでは遠方からの参加者のためのか会場付近の宿泊・施設をまとめています。<br>何か不明な点があれば <a href="https://gitter.im/scalamatsuri/scalamatsuri-ja" target="_blank">Gitter #scalamatsuri/scalamatsuri-ja</a> か <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiRa3AIShPAPaZJ5o1sKfdvUzwMlP6Mysw_qnVsI9o1zocuw/viewform" target="_blank">問い合わせフォーム</a> にてご連絡ください。</p>
  </div>
  <section class="section">
    <h2 class="section_title"><span class="section_title_inner">ホテル</span></h2>
    <p class="section_text">ホテルは各人で予約をお願いします。会場から近いホテルをピックアップしていますので参考にして下さい。</p>
    <table class="section_table">
      <thead>
        <tr>
          <th>ホテル名</th>
          <th>対応言語</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://tokyobay.washington-hotels.jp/" target="_blank">東京ベイ有明ワシントンホテル</a></td>
          <td data-title="対応言語">English</td>
        </tr>
        <!-- <tr>
          <td><a href="http://www.oakwood-ariake.com/" target="_blank">オークウッドホテル & アパーツメンツ有明</a></td>
          <td data-title="対応言語">English,Chinese,Indonesian</td>
        </tr> -->
        <tr>
          <td><a href="http://www.tokyustay.co.jp/e/hotel/SHI/" target="_blank">東急ステイ新橋</a></td>
          <td data-title="対応言語">English</td>
        </tr>
        <tr>
          <td><a href="http://www.gardenhotels.co.jp/eng/shiodome-italiagai/" target="_blank">三井ガーデンホテル汐留イタリア街</a></td>
          <td data-title="対応言語">English</td>
        </tr>
        <tr>
          <td><a href="http://www.hotelsunrouteariake.jp" target="_blank">ホテルサンルート有明</a></td>
          <td data-title="対応言語">English</td>
        </tr>
        <tr>
          <td><a href="https://www.tokyo.grand-nikko.com/" target="_blank">グランドニッコー東京台場</a></td>
          <td data-title="対応言語">English</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="section">
    <h2 class="section_title"><span class="section_title_inner">会場へのアクセス</span></h2>
    <p class="section_text">東京国際交流館はホテルサンルート有明から 2km の距離で、歩ける距離です。当日朝に会場へ行く一番簡単な方法は、特に複数の参加者で相乗りできればタクシーだと思います。<br><br>
      公共の交通機関を利用するには <a href="https://goo.gl/maps/a9NwZJpxvDK2" target="_blank">Google Map</a> が便利です。 例えば、ホテルサンルート有明からはU11 国際展示場正門駅で<a href="http://www.yurikamome.co.jp/info/" target="_blank">ゆりかもめ</a>新橋行きに乗って、U08 船の科学館駅で降りてください。</p>
  </section>
  <section class="section">
    <h2 class="section_title"><span class="section_title_inner">お台場 / 臨海副都心</span></h2>
    <p class="section_text"><a href="https://www.gotokyo.org/jp/tourists/areas/areamap/odaiba.html" target="_blank">お台場</a>はショッピングや観光で人気な東京湾にある人工島です。 <a href="https://mitsui-shopping-park.com/divercity-tokyo/" target="_blank">DiverCity Tokyo Plaza</a> というショッピングモールには実物大のガンダムがあることで有名。</p>
    <img src="/assets/img/travel/img-map.png" alt="" class="section_img">
    <p class="section_btnArea"><a href="https://docs.google.com/uc?id=0B-273DBGeDw7T05SUGQ4NnY1UkRmbzlvRlNZTFRoMm9icV9r&export=download" class="section_btn">PDFを表示</a></p>

  </section>
  <% include ../templates/_footer %>
</body>

</html>