  <section class="flowSns is_pc">
    <div class="flowSns_inner">
      <h2 class="flowSns_title">是非あなたの友達にもシェアしてください！</h2>
      <a class="twitter-share-button sns_item" href="https://twitter.com/intent/tweet">Tweet</a>
      <div class="fb-share-button sns_item" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
      <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button sns_item" data-hatena-bookmark-layout="touch" data-hatena-bookmark-width="20" data-hatena-bookmark-height="20" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </section>
  <section class="sns">
    <a class="twitter-share-button sns_item" href="https://twitter.com/intent/tweet">Tweet</a>
    <div class="fb-share-button sns_item" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button sns_item" data-hatena-bookmark-layout="touch" data-hatena-bookmark-width="20" data-hatena-bookmark-height="20" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </section>
  <footer class="footer">
    <div class="footer_inner">
      <p class="footerlogo"><a href="/"><img src="/assets/img/common/logo.svg" alt="ScalaMatsuri 2019" width="68" height="53"></a></p>
      <div class="footerNav">
        <dl class="footerNav_list">
          <dt class="footerNav_title">ScalaMatsuri 2019</dt>
          <dd class="footerNav_item"><a href="/">開催概要</a></dd>
          <dd class="footerNav_item"><a href="/program/">プログラム</a></dd>
          <dd class="footerNav_item"><a href="/sponsor/">スポンサー</a></dd>
          <dd class="footerNav_item"><a href="/code-of-conduct/">行動規範</a></dd>
          <dd class="footerNav_item"><a href="/#access">アクセス</a></dd>
        </dl>
        <dl class="footerNav_list">
          <dt class="footerNav_title">ヘルプ</dt>
          <dd class="footerNav_item"><a href="/staff/">スタッフ一覧</a></dd>
          <dd class="footerNav_item"><a href="/temporary-staff/">スタッフ募集</a></dd>
          <dd class="footerNav_item"><a href="/travel/">会場付近の宿泊情報</a></dd>
          <dd class="footerNav_item"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfiRa3AIShPAPaZJ5o1sKfdvUzwMlP6Mysw_qnVsI9o1zocuw/viewform" target="_blank">お問い合わせ</a></dd>
        </dl>
        <dl class="footerNav_list">
          <dt class="footerNav_title">過去のイベント</dt>
          <dd class="footerNav_item"><a href="http://2018.scalamatsuri.org/" target="_blank">ScalaMatsuri 2018</a></dd>
          <dd class="footerNav_item"><a href="http://2017.scalamatsuri.org/" target="_blank">ScalaMatsuri 2017</a></dd>
          <dd class="footerNav_item"><a href="http://2016.scalamatsuri.org/" target="_blank">ScalaMatsuri 2016</a></dd>
          <dd class="footerNav_item"><a href="http://2014.scalamatsuri.org/" target="_blank">ScalaMatsuri 2014</a></dd>
          <dd class="footerNav_item"><a href="http://2013.scalamatsuri.org/" target="_blank">Scala Conference in Japan 2013</a></dd>
        </dl>
      </div>
    </div>
    <a href="" class="pullrequestBtn"><img src="/assets/img/common/icon-octcat.svg" alt="">Send a pull request</a>
    <p class="copyright"><small>&copy; ScalaMatsuri Organization | Japan Scala Association</small></p>
  </footer>
