/* footer */
.footer {
  background: url("/assets/img/common/bg-black.png") repeat;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.footerNav_title {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footerNav_item {
  opacity: 0.5;
  line-height: 1.71;
  a {
    color: #FFF;
    font-size: 14px;
    &:hover {
      opacity: 0.5;
    }
  }
}
.copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  margin-top: 92px;
  margin-bottom: 20px;
}
.pullrequestBtn {
  position: absolute;
  // width: 173px;
  height: 40px;
  right: 12px;
  bottom: 12px;
  background: #221E23;
  border: 2px solid #39333B;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  line-height: normal;
  color: rgba(255,255,255,.5);
  font-size: 12px;
  padding: 6px 16px 6px 6px;
  white-space: nowrap;
  img {
    margin-right: 9px;
    vertical-align: middle;
  }
}

// footer上のSNS群
.sns {
  position: relative;
  text-align: center;
  padding: 40px;
  background-color: #FFF;
}
.sns_item {
  margin: 0 10px;
}
.flowSns {
  // max-width: $pcMinWidth;
  margin: 0 auto;
}
.flowSns_inner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 528px;
  height: 46px;

  background: #F1F1F1;
  box-shadow: 0px 2px 6px rgba(18, 34, 73, 0.25);
  border-radius: 6px;
}
.flowSns_title {
  font-size: 14px;
  display: inline-block;
  font-weight: bold;
  line-height: 1.3;
  padding: 13px;
}
@media screen and (max-width: $headerViewport - 1) {
  @import "common/footer_sp";
}
@media screen and (min-width: $headerViewport) {
  @import "common/footer_pc";
}
